@font-face {
    font-family: mydigital;
    src: url(digital-7.ttf);
}

.scoreboard {
  display: inline-block;
  float: right;
}
.score {
  background-color: #222;
  display: inline;
  float: left;
  margin: 1em;
  border: 5px solid white;
  border-radius: 10px;
  min-width: 8em;
}
.score-point, .score-cap {
  text-align: center;
}
.score-cap {
  font-size: 1.2em;
  border-bottom: 5px solid white;
}
.score-point {
  color: orange;
  font-family: mydigital;
  font-size: 4em;
}
.game-control {
  display: inline-block;
}
.game-button {
  font-size: 1.2em;
  position:relative;
	width:100px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
	border-radius:5px;
	border:solid 2px #ddd;
	background:#777;
	text-align:center;
	padding:20px 30px;
  box-shadow: 0 9px 0 #777;
}
.game-button:active{
    box-shadow: 0 2px 0 #84261a;
    position:relative;
    top:7px;
}
.game-button:hover {
  background: #666;
}
.game-message {
  overflow: auto;
  margin: 1em;
  border: 5px solid white;
  border-radius: 10px;
  min-width: 8em;
  font-size: 1.2em;
  text-align: center;
}
.game-message:empty {
  border: 0 solid red;
}

body {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
  .clearfix {
  clear: both;
}

#main, #header, #footer {
  border: 5px solid #666;
  background-color: #444;
  color: #eee;
}
.sitefooter {
  color: #eee;
}
.sitefooter a {
  color: #bbf;
}
.sitefooter a:hover {
  font-weight: bolder;
}
/**
 * Layout for header, diff from style.css
 */
.siteslogan {
  color: #ddd;
}
.navbar {
  background-color:#ccc;
}
.navbar a {
  background-color:#888;
  color:#fff;
}
.navbar a:hover {
  background-color:#666;
}
.navbar a.selected {
  background-color:#444;
  color:#eee;
}
