/**
 * CSS for movie_db.php
 */
.orderby a {
  text-decoration: none;
  color: black;
}

.dbtable {

}

.dbtable table {
  width: 100%;
}

.dbtable .rows {
  text-align: right;
}

.dbtable .pages {
  text-align: center;
}

.debug {
  color: #666;
}

.single-movie-image img {
    float: left;
    margin-right: 1em;
}
.single-movie-imdb, .single-movie-trailer {
    float: left;
}

.single-movie-genres {
    clear: both;
}

.movie-card {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.movie-title {
    max-width: 120px;
    min-height: 2.8em;
}

.clear-both {
    clear: both;
}
