/**
 * General elements
 */
body {
  /*background-image: url("../img/checked_pattern.jpg");*/
  background-color: #c9d7e8;
  color: #333;
  font-family: arial, sans-serif;
}

/**
 * Layout of the main page elements
 */
#wrapper {
  /*background-color: white;*/
  margin: 0 auto;
  max-width: 780px;
  padding: 10px;
}


/**
 * Layout for header
 */
#header {
  border-radius: 1em;
  /*box-shadow: 10px -10px 5px #888888;*/
  border: 5px solid #333;
  background-color: white;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 150px;
  font-size: 48px;
  /*display: none;*/
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 150px;
  font-style: italic;
  color: #666;
}

.navbar {}

.navbar ul {
  list-style: none;
  margin: 0;
  padding:0.5em;
  background-color:#333;
}
.navbar li {
  display: inline;
  position: relative; /* New - to place the drop-down menu correctly */
}
.navbar a {
  border-radius: 0.2em 0.2em 0 0;
  background-color:#999;
  color:#fff;
  padding:0.2em;
  text-decoration:none;
  white-space: nowrap; /* New - to make the drop-down menu items stay on one row */
}
.navbar li ul li a {
    /*Keep spacing between sub-menu items.*/
    line-height: 1.6em;
  /*background-color: red;*/
}
.navbar a:hover {
  color: #fff;
  border-color: #666 transparent;
}
 /* New - to style the selected parent */
.navbar li.selected-parent > a,
.navbar li.selected > a {
  padding:0.3em 0.2em 0.6em 0.2em;
  color: #333;
  background-color: #fff;
}
.navbar li li.selected > a {
    padding:0.2em;
    border-radius: 0.2em;
}
/* New - to style the submenu, start by hiding it using absolute positioning */
.navbar ul ul {
  background-color: #fff;
  padding: 8px;
  position: absolute;
  left: -9999px;
  z-index: 2;
}
/* Display the submenu when hovering the list element, absolute positioning */
.navbar li:hover ul {
  left: 0;
  background-color: transparent;
  background-color:#999;
  border-radius: 0.2em;
}
.navbar li a:hover {
  background-color:#666;
}
/* New - style items of the submenu when hovering and selected */
.navbar li li a:hover {
  border-color: transparent;
  background-color:#666;
}

/**
 * Layout for main
 */
#main {
  border-radius: 1em;
  border: 5px solid #333;
  /*box-shadow: 10px -10px 5px #888888;*/
  background-color: white;
  padding: 2em;
  min-height: 20em;
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.image-300 {
    width: 300px;
}

.image-200 {
    width: 200px;
}

.caption {
  font-size: 12px;
}

/**
 * Layout for footer
 */
#footer {
  border: 5px solid #333;
  border-radius: 1em;
  background-color: white;
  padding: 2em;
  margin-top: 40px;
  padding-top: 15px;
}

.sitefooter {
  color: #666;
}
